@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
.searchbar {
  padding-left: 16px;
  outline: none;
  width: 800px;
  height: 60px;
  color: white;
  font-size: 28px;
  border-color: #ea6341;
  background-color: #332f31;
  border-style: solid;
  border-radius: 56px;
  border-width: 2px;
}
.backButton {
  z-index: 99;
  font-family: "Bahnschrift";
  font-size: 35px;
  height: 4rem;
  width: 16rem;
  border-radius: 1rem;
  color: white;
  background-color: transparent;
  border: 3px solid #c5d0ca;
  outline: none;
  text-align: center;
}
.logoText {
  font-family: "Bungee", cursive;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 60px;
  margin-top: 14px;
  margin-left: 16px;
  line-height: 60px;
  position: fixed;
  z-index: 0;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: #332f31;
  margin: 0;
  border-bottom: #3d393b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.AccountSubmitButton {
  width: 240px;
  height: 50px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;

  font-family: inherit;
  border-radius: 55px;
  background: linear-gradient(to right, #ea6341, #2c265a);
  color: white;
  outline: none;

  /* border-style: solid;
  border-width: 2px; */
}
