.HomeContainer {
  /* display: flex;
    flex-flow: column;
    height: 100%; */
  width: 100%;

  color: white;
  background: none;
  background-color: #332f31;

  /* border-color: #5e5e5e;
    border-width: 2px;
    border-style: solid; */
}

.controllerImage {
  display: block;
  min-width: 1105px;
  min-height: 474px;
  width: auto;
  height: auto;
  box-sizing: border-box;

  /* border: 2p solid #a88181; */
}

.boyBandImage {
  display: block;
  min-width: 599px;
  min-height: 359px;
  width: auto;
  height: auto;
  box-sizing: border-box;

  /* border: 2p solid #a88181; */
}
