.controllerImage {
  display: block;
  min-width: 1105px;
  min-height: 474px;
  width: auto;
  height: auto;
  box-sizing: border-box;

  /* border: 2p solid #a88181; */
}

.boyBandImage {
  display: block;
  min-width: 599px;
  min-height: 359px;
  width: auto;
  height: auto;
  box-sizing: border-box;

  /* border: 2p solid #a88181; */
}
