@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
body {
  margin: 0;
  font-family: Bahnschrift;
  height: 100%;
  width: 100%;
}
html {
  background: #707070; /* fallback color */
  background: linear-gradient(to right, #ea6341, #2c265a);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.searchbar {
  padding-left: 16px;

  outline: none;
  width: 800px;
  height: 60px;
  color: white;
  font-size: 28px;
  border-color: #ea6341;
  background-color: #332f31;
  border-style: solid;
  border-radius: 56px;
  border-width: 2px;
}
.backButton {
  background-color: transparent;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 55px;
  border-style: solid;
  color: white;
  outline: none;

  font-size: 40px;
  height: 110px;
  width: 355px;
  text-align: center;
}
.logoText {
  font-family: "Bungee", cursive;
  font-size: 60px;
  margin-top: 14px;
  margin-left: 16px;
  line-height: 60px;
  position: relative;
  z-index: 0;
}
hr {
  border-width: 2px;
  border-color: #3d393b;
  border-style: solid;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: #332f31;
  margin: 0;
  border-bottom: #3d393b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.AccountSubmitButton {
  width: 280px;
  height: 60px;
  font-size: 40px;
  margin: auto;
  font-family: inherit;
  border-radius: 55px;
  background: linear-gradient(to right, #ea6341, #2c265a);
  color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #707070;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #707070;
}
