@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
.searchbar {
  padding-left: 16px;
  outline: none;
  width: 800px;
  height: 60px;
  color: white;
  font-size: 28px;
  border-color: #ea6341;
  background-color: #332f31;
  border-style: solid;
  border-radius: 56px;
  border-width: 2px;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: #332f31;
  margin: 0;
  border-bottom: #3d393b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.AccountSubmitButton {
  width: 240px;
  height: 50px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;

  font-family: inherit;
  border-radius: 55px;
  background: linear-gradient(to right, #ea6341, #2c265a);
  color: white;
  outline: none;

  /* border-style: solid;
  border-width: 2px; */
}
