@font-face {
  font-family: "Bahnschrift";
  src: url("../assets/BAHNSCHRIFT.TTF") format("ttf");
}
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: auto;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  font-family: Bahnschrift;
  background: linear-gradient(to right, #ea6341, #2c265a) fixed;

  /* border: 2px solid #666666; */
}
.link {
  text-decoration: none;
}
ul {
  padding-left: 0;

  list-style: none;
}
hr {
  border-style: 2px solid #3d393b;
}
.logoPinned {
  margin-top: 14px;
  margin-left: 16px;
  line-height: 60px;
  position: fixed;
  z-index: 0;

  font-family: "Bungee", cursive;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 60px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adacac;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adacac;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #adacac;
}
