.HomeContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.HomeEventsAndGroupsColumn {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 15%;
  box-sizing: border-box;

  /* border-color: #a5a5a5;
  border-width: 2px;
  border-style: solid; */
}
/* .HomeEvents {
  border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; 
} */
.eventsTitle {
  display: flex;
  align-items: flex-end;
  padding-left: 24px;

  font-size: 28px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3d393b;
}
.eventsTitle p {
  margin: 0;

  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.eventsTitle img {
  margin-left: 5px;
}
.eventsList p {
  margin-top: 0;
}
.HomeEvents li {
  text-align: right;
  font-size: 20px;
}
.HomeGroups {
  margin-top: 16px;

  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.HomeMainContentColumn {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 50px;

  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.HomeSpicyPostSection {
  height: 300px;
  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.spicyPostTitle {
  display: flex;
  flex-direction: row;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3d393b;

  /* border-color: #5e5e5e;
  border-width: 2px;
  border-style: solid; */
}
.SpicyPostIconImage {
  margin: 0;
  margin-right: 8px;
  display: block;
  max-width: 55px;
  max-height: 55px;
  width: auto;
  height: auto;
  align-self: center;
}
.spicyPostTitle p {
  font-size: 35px;
  align-self: center;
  margin: 0;

  /* border-color: #a5a5a5;
  border-width: 2px;
  border-style: solid; */
}
.spicyPostContent {
  text-align: center;
  font-style: italic;
  font-size: 45px;
  color: #e4a08f;
}
.Post {
  height: 150px;
  /*   
  border-color: #a5a5a5;
  border-width: 2px;
  border-style: solid; */
}
.PostInput {
  margin-top: 12px;
  width: 100%;
  box-sizing: border-box;
  height: 85px;

  font-family: Bahnschrift;
  padding: 16px;
  padding-left: 24px;
  font-size: 30px;
  color: white;
  background-color: #3d393b;
  border-radius: 15px;
  border-style: solid;
  border-color: #3d393b;
  outline: none;
}
.HomeFriendsColumn {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 15%;
  box-sizing: border-box;
  height: 370px;

  border-color: #a5a5a5;
  border-width: 2px;
  border-style: solid;
}
