body {
  overflow-y: hidden;
}
.boyBandImage {
  margin-top: 0%;
  margin-left: 8%;
  height: 30%;
  width: 30%;

  /* border-style: solid;
  border-width: 2px; */
}
.controllerImage {
  margin-bottom: 0%;
  margin-left: 0%;
  height: 55%;
  width: 60%;

  /* border-style: solid;
  border-width: 2px; */
}
.container {
  width: 100%;
  height: 100%;

  border-style: solid;
  border-width: 2px;
}
.AccountWindow {
  width: 23%;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  background-color: white;
  border-radius: 45px;
  overflow: hidden;
}
.AccountTitle {
  font-family: "Bungee", cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountRequirements {
  text-align: left;
  font-size: 25px;
  padding-left: 15px;
  margin-top: 30px;
  /* border-style: solid;
  border-width: 2px; */
}
.AccountRequirements p {
  margin: 0px;
  margin-bottom: 12px;
  /* border-style: solid;
  border-width: 2px; */
}
.AccountWindow li {
  font-size: 20px;
  list-style: none;
  text-align: left;
  margin-top: 8px;
}
.AccountWindow input[type="text"] {
  font-size: 35px;
  width: 90%;
  text-align: left;
  align-self: center;
  margin-top: 18px;
  font-family: inherit;
  padding: 5px;

  border: none;
  border-bottom: solid;
  border-color: #707070;
  border-width: 1px;
  outline: none;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountNote {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 80%;
  margin-top: 26px;
  margin-bottom: 34px;

  font-size: 24px;
  /* 
  border-style: solid;
  border-width: 2px; */
}
.AccountNoteRight {
  color: #1d7ce8;
  margin: 0;
  text-align: center;
  margin: auto;
  margin-left: 8px;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountNoteLeft {
  color: #666666;
  margin: 0;
  text-align: center;
  margin: auto;
  margin-right: 0;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountFormSection {
  align-items: center;
  width: 90%;

  align-self: center;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 8px;

  /* border-style: solid;
  border-width: 2px; */
}
