.AccountWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  box-sizing: border-box;
  float: right;

  background-color: white;
  border-radius: 45px;
}
.AccountTitle {
  text-align: center;
  margin-bottom: 0px;

  font-family: "Bungee", cursive;
  font-size: 40px;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountRequirements {
  text-align: left;
  padding-left: 15px;
  margin-top: 30px;

  font-size: 25px;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountRequirements li {
  margin: 0px;
  margin-bottom: 12px;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountWindow input[type="text"] {
  box-sizing: border-box;
  width: 90%;
  text-align: left;
  align-self: center;
  margin-top: 18px;
  padding: 5px;

  font-size: 30px;
  font-family: inherit;
  border: none;
  border-bottom: solid;
  border-color: #707070;
  border-width: 1px;
  outline: none;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountNoteSection {
  width: 80%;
  box-sizing: border-box;
  margin-top: 26px;
  margin-bottom: 34px;
  font-size: 24px;

  /* 
  border-style: solid;
  border-width: 2px; */
}
.AccountNote {
  margin: 0;
  text-align: center;
  margin: auto;
  font-size: 24px;
  color: #666666;

  /* border-style: solid;
  border-width: 2px; */
}
.AccountFormSection {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 8px;
  width: 90%;
  box-sizing: border-box;

  /* border-style: solid;
  border-width: 2px; */
}
