body {
  margin: 0;
}
.searchbar {
  padding-left: 16px;

  outline: none;
  width: 800px;
  height: 60px;
  color: white;
  font-size: 28px;
  border-color: #ea6341;
  background-color: #332f31;
  border-style: solid;
  border-radius: 56px;
  border-width: 2px;
}
.logoText {
  font-family: bungee, sans-serif;
  color: #ea6341;
  font-size: 80px;
}
hr {
  border-width: 2px;
  border-color: #3d393b;
  border-style: solid;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: #332f31;
  margin: 0;
  border-bottom: #3d393b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
